#modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 5px;
  right: 50px;
  cursor: pointer;
  display: block;
  color: #413D4B;
  font-size: 40px;
  z-index: 10; }

.mymagicoverbox {
  padding: 0 10px 10px 0;
  margin: 0 0 10px 40px; }

.mymagicoverbox_fenetre {
  width: 780px;
  left: -390px;
  z-index: 9999;
  position: fixed;
  margin-left: 50%;
  top: 20px;
  text-align: center;
  display: none;
  background-color: #ffffff; }
  .mymagicoverbox_fenetre p {
    margin: 70px 0 10px 0;
    padding: 0 19px;
    text-align: center;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #413d4b; }

.mymagicoverbox_fenetreinterieur {
  height: 500px;
  text-align: center;
  overflow: auto;
  background-color: #ffffff;
  margin-top: 10px; }

#myfond_gris {
  display: none;
  background-color: #000000;
  opacity: 0.88;
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

html {
  overflow-x: hidden; }

/*Убрать свечение кнопок в браузере*/
button:active, button:focus {
	outline: none !important;
}
button::-moz-focus-inner { 
	border: 0 !important;
}
button {
	border: none;
}
button:focus,
textarea:focus,
input:focus,
div:focus {
	outline: none;
}

/* Убрать стрелочки в type='number' */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;
    margin:0;}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6; }

section {
  width: 100%;
  height: auto;
  display: block;
  padding: 50px 0; }

h2 {
  display: block;
  text-align: center;
  padding-bottom: 60px;
  margin: 0;
  font-size: 34px;
  font-family: "OpenSans-Bold", sans-serif; }

a {
  cursor: pointer; }
h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "OpenSans-Bold", sans-serif; }

.bg_gray {
  background: #f7f7f7; }

.bg_header-color {
  background: #0b0a32; }

.main-head {
  min-height: 100px;
  min-width: 1140px;
  background: #0b0a32;
  position: absolute; }

.logo {
  background: url(../img/logo.png);
  display: block;
  width: 210px;
  height: 81px;
  margin-top: 10px; }

.adaptive_logo{
	text-align: center;
}
.adaptive_logo img {
	width: 210px;
	height: 81px;
}

.open {
  position: absolute;
 	top: 10px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear; }

.open:hover {
  opacity: 1; }
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #1b7395;
  position: absolute;
  right: 5px;
  top: 3px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .open span:nth-child(1) {
    margin-top: 5px;
    z-index: 9; }
  .open span:nth-child(2) {
    margin-top: 20px; }
  .open span:nth-child(3) {
    margin-top: 35px; }

.sub-menu {
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(31, 31, 31, 0.9);
  border-radius: 50% 0 50%;
  z-index: 18;
  overflow: hidden; }
  .sub-menu li {
    display: block;
    float: left;
    clear: both;
    height: auto;
    margin-left: 80px;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .sub-menu li:first-child {
      margin-top: 180px; }
    .sub-menu li:nth-child(1) {
      -webkit-transition-delay: 0.05s; }
    .sub-menu li:nth-child(2) {
      -webkit-transition-delay: 0.1s; }
    .sub-menu li:nth-child(3) {
      -webkit-transition-delay: 0.15s; }
    .sub-menu li:nth-child(4) {
      -webkit-transition-delay: 0.2s; }
    .sub-menu li:nth-child(5) {
      -webkit-transition-delay: 0.25s; }
    .sub-menu li a {
      color: #fff;
      font-size: 13px;
      width: 220px;
      display: block;
      float: left;
      line-height: 10px; }
      .sub-menu li a:active {
        color: #29abe2; }
      .sub-menu li a:first-child {
        margin-top: 20px; }
      .sub-menu li a:last-child {
          font-size: 18px;
          font-weight: 700;
      }
.oppenned .sub-menu {
  opacity: 1;
  height: auto;
  width: 400px;
  padding-bottom: 40px; }
.oppenned span:nth-child(2) {
  overflow: visible; }
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.oppenned span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
      -ms-transform: rotate(45deg) translateY(12px) translateX(12px);
          transform: rotate(45deg) translateY(12px) translateX(12px); }
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -240px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0); }
.oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
      -ms-transform: rotate(-45deg) translateY(-10px) translateX(10px);
          transform: rotate(-45deg) translateY(-10px) translateX(10px); }
.oppenned li {
  margin-right: 168px; }
.sub-menu .block__main_text {
  padding-top: 15px;
  width: 160px;
}
.burger_text {
  color: #fff;
  width: 200px;
}
.burger_text p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

.nav {
  float: right;
  text-align: center; 
  margin: 0;
		}
  .nav li {
    display: inline-block;
    padding: 0 7px;
    line-height: 97px; }
    .nav li:hover {
      border-bottom: 2px solid #29abe2; }
    .nav li a {
      color: #b8b8b8;
      font-size: 13px;
      text-transform: uppercase; }
      .nav li a:hover {
        color: #29abe2; }

.nav__button, .nav__button_inversion, .entry__form_enroll input[type="submit"], .entry__form_enroll_blue input[type="submit"], .entry__form_enroll .enroll textarea[type="submit"], .enroll .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"], .enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"], .cost_btn {
  float: right;
  margin-top: 25px;
  padding: 15px 10px;
  background: #29abe2;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "OpenSans-Bold", sans-serif; }

.nav__button:hover, .nav__button_inversion:hover, .entry__form_enroll input[type="submit"]:hover, .entry__form_enroll_blue input[type="submit"]:hover, .entry__form_enroll .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll_blue textarea[type="submit"]:hover, .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"]:hover, .cost_btn:hover {
  background: #2499cb; }

.nav__button_inversion, .entry__form_enroll input[type="submit"], .entry__form_enroll_blue input[type="submit"], .entry__form_enroll .enroll textarea[type="submit"], .enroll .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"], .enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"] {
  float: none;
  background: #ff7800;
  font-size: 18px;
  padding: 15px 45px;
  font-family: "OpenSans-Bold", sans-serif; }

.nav__button_inversion:hover, .entry__form_enroll input[type="submit"]:hover, .entry__form_enroll_blue input[type="submit"]:hover, .entry__form_enroll .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll_blue textarea[type="submit"]:hover, .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"]:hover {
  background: #e56c00; }

.default {
  width: 100%;
  background: transparent; }

.fixed {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #0b0a32;
  opacity: 0.9; }

.block__main {
  background: url(../img/bg-header.jpg) center center;
  background-size: cover;
  max-height: 800px;
  margin-bottom: 50px; 
	padding-top: 160px;	}

.block__main_text {
  height: auto;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 34px; }

.block_slider {
  padding-bottom: 40px; }

.block_slider_text {
  height: auto;
  color: #fff;
  text-align: center;
  padding-top: 20px; }

.block_slider h1 {
  line-height: 1.3;
  font-size: 44px; }
.block_slider p {
  padding: 35px 0 120px 0;
  font-size: 34px; }

.entry__form h3 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 27px;
  color: #4a4a4a;
  text-align: center;
  line-height: 1.2; }
.entry__form p {
  font-size: 20px;
  color: #4a4a4a;
  text-align: center;
  padding-top: 25px;
  line-height: 1.4; }

.entry__form_enroll, .entry__form_enroll_blue {
  text-align: center;
  padding-bottom: 20px; }

.entry__form_enroll input, .entry__form_enroll_blue input, .entry__form_enroll .enroll textarea, .enroll .entry__form_enroll textarea, .entry__form_enroll_blue .enroll textarea, .enroll .entry__form_enroll_blue textarea, .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea, .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea {
  color: #4a4a4a;
  background: #eeeeee;
  border: 1px solid #acacac;
  border-radius: 5px;
  padding: 15px 10px;
  margin-right: 20px; }

.entry__form_enroll input[type="submit"], .entry__form_enroll_blue input[type="submit"], .entry__form_enroll .enroll textarea[type="submit"], .enroll .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"], .enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"] {
  margin: 0;
  border: none; }

.about__frontend {
  padding: 0; }
  .about__frontend .big_img_about {
    height: 459px !important;
    text-align: right; }
  .about__frontend img {
    width: 336px;
    height: 459px;
    padding-top: 20px; }
  .about__frontend h2 {
    text-align: left;
    font-size: 28px; }
  .about__frontend span {
    text-transform: uppercase; }
  .about__frontend_info {
    padding-top: 65px; }
    .about__frontend_info p {
      font-size: 20px;
      line-height: 1.1; }

.bg_about_frontend {
  background: url(../img/bg_about_frontend.jpg) top left;
  background-size: cover; }

.frontend_info span {
  text-transform: uppercase; }
.frontend_info h2 {
  color: #29abe2;
  text-align: center; }
.frontend_info_text h5 {
  font-size: 20px;
  text-transform: uppercase;
  color: #29abe2;
  padding-bottom: 30px;
  text-align: left; }
.frontend_info_text p {
  color: #fff;
  text-align: left; }
.frontend_info_text_img {
  display: block;
  width: 53px;
  height: 53px; }

.bg_gray {
  background: #f7f7f7; }

.about__us_frontend_img {
  text-align: center;
  padding-top: 85px; }
  .about__us_frontend_img img {
    padding-top: 5px;
    width: 242px;
    height: 237px; }
.about__us_frontend_text p {
  color: #4a4a4a; }
.about__us_frontend_text h2 {
  text-align: left; }

.block__Gagarin {
  min-height: 100% }
  .block__Gagarin h2 {
    color: #29abe2;
    font-family: "OpenSans-Bold", sans-serif; }

.block__Gagarin_info div {
  display: block;
  text-align: center; }
.block__Gagarin_info img {
  width: 162px;
  height: 162px; }
.block__Gagarin_info h4 {
  font-size: 20px;
  color: #29abe2;
  font-family: "OpenSans-Bold", sans-serif;
  padding-top: 40px; }
.block__Gagarin_info p {
  padding-top: 25px;
  color: #fff;
  font-size: 19px;
  line-height: 1.2; }

.dark_blue {
  background: #0b0a32;
  min-height: 70px;
  border-top: 7px solid #29abe2;
  border-bottom: 7px solid #29abe2;
  display: block;
  text-align: center;
  padding-top: 50px; }
  .dark_blue p {
    font-size: 20px;
    color: #29abe2;
    padding-bottom: 50px; }

.light_blue {
  background: #29abe2;
  min-height: 70px;
  border-top: 7px solid #0b0a32;
  border-bottom: 7px solid #29abe2;
  display: block;
  text-align: center;
  padding-top: 50px; }
  .light_blue p {
    color: #4a4a4a; }

.statistic img {
  width: 111px;
  height: 111px; }
.statistic h3 {
  color: #fff;
  font-size: 34px;
  padding-top: 30px; }
.statistic p {
  font-size: 18px;
  height: 50px;
  font-family: "OpanSans-Light", sans-serif;
  padding-bottom: 50px; }

.reservation h1 {
  font-size: 44px;
  padding-top: 10px;
  padding-bottom: 50px;
  color: #fff; }

.entry__form_enroll_blue input, .entry__form_enroll_blue .enroll textarea {
  color: #fff;
  background: #010029;
  border: 1px solid #165b8c; }

.enroll .entry__form_enroll_blue textarea, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea {
  color: #fff;
  background: #010029;
  border: 1px solid #165b8c; }

.entry__form_enroll_blue input[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"] {
  border: none; }

.enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"] {
  border: none; }

.present_img {
  width: 240px;
  height: 240px; }
.present h5 {
  font-size: 16px;
  font-family: "OpenSans-Bold", sans-serif;
  margin-top: 20px 0 0 0;
  height: 30px;
  text-transform: uppercase;
  padding-left: 15px; }
.present p {
  font-size: 14px;
  padding-top: 20px;
  padding-left: 15px; }
.present_button {
  padding-top: 50px;
  text-align: center; }
  .present_button a {
    padding: 20px 70px;
    font-size: 20px;
    font-family: "OpenSans-Bold", sans-serif; }

.reviews {
  background: url(../img/bg_reviews.jpg) center center;
  background-size: cover;
  min-height: 500px; }
  .reviews h2 {
    color: #fff;
    padding-bottom: 0; }
  .reviews h5 {
    color: #29abe2;
    font-size: 70px;
    margin: 0;
    text-align: center; }
  .reviews_button {
    padding-bottom: 20px; }

.reviews_info p {
  color: #b8b8b8;
  text-align: center;
  font-size: 20px; }
.reviews_info .profession {
  font-size: 13px;
  padding-bottom: 25px; }
.reviews_info .name {
  padding-top: 40px;
  padding-bottom: 15px;
  color: #29abe2;
  font-family: "OpenSans-Bold", sans-serif; }

.reviews_img {
  display: block;
  width: 150px;
  height: 150px;
  background: #293f60;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 7px; }

.paginator__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 4px solid #293f60; }

.paginator__img_big {
  border: 3px solid #29abe2;
  margin: 0 auto; }

.reviews_slider-nav {
  width: 300px;
  height: 70px;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 40px; }

.slick-current .paginator__img {
  width: 60px;
  height: 60px;
  margin-top: 0px; }

.paginator__img_big {
  width: 135px;
  height: 135px;
  border-radius: 50%; }

.reviews_text {
  background: #0b0a32; }
  .reviews_text h2 {
    color: #29abe2;
    font-size: 40px;
    padding: 0; }
  .reviews_text p {
    color: #fff;
    text-align: center; }
    .reviews_text p:last-child {
      padding-bottom: 30px; }

.rewievs_btn {
  font-size: 13px;
  width: 200px;
  padding: 15px 25px; }

.course_program h5 {
  font-size: 18px;
  color: #030138;
  padding-bottom: 15px; }
.course_program ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-bottom: 30px; }

.cost {
  text-align: center;
  min-height: 200px;
  margin: 0 auto;
  background: #f7fcff;
  padding: 25px 0; }
  .cost p {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 30px;
    color: #29abe2;
    line-height: 1.1; }
  .cost span {
    font-size: 20px;
    color: #4a4a4a; }
  .cost img {
    height: 95px;
    width: 85px;
    padding: 15px 0 0 30px;
    margin-left: 145px;
		float: left;
     }
  .cost_information {
    width: 310px;
    margin-top: -50px;
    padding-left: 120px;
    margin-left: 120px; }
    .cost_information p {
      font-family: "OpenSans-Italic", sans-serif; }
  .cost_button {
    padding-bottom: 20px; }

.cost_btn {
  float: none;
  padding: 20px 25px;
  font-family: "OpenSans-Bold", sans-serif; }

.contact_sprite {
  float: left;
  margin-right: 25px; }
  .contact_sprite .contact_img {
    float: left;
    margin-right: 25px; }
  .contact_sprite .contact_block {
    margin-bottom: 30px; }
  .contact_sprite .contact_img {
    width: 38px;
    height: 38px; }
  .contact_sprite p, .contact_sprite .contact_img p {
    margin-top: 5px;
    font-size: 20px;
    font-family: "OpenSans-Bold", sans-serif;
    min-width: 260px; }
  .contact_sprite .phone {
    background: url(../img/contact_sprite.png); }
  .contact_sprite .skype {
    background: url(../img/contact_sprite.png) 38px -67px; }
  .contact_sprite .email {
    background: url(../img/contact_sprite.png) 38px -131px; }
  .contact_sprite h5 {
    font-weight: 800;
    font-size: 20px;
    color: #4a4a4a; }
  .contact_sprite h6 {
    font-size: 16px;
    padding-bottom: 25px;
    color: #4a4a4a; }

.contact_form .enroll textarea {
  height: 255px; }
.contact_form p {
  font-size: 16px;
  font-family: "OpenSans-Bold", sans-serif; }

.enroll input, .mymagicoverbox_fenetreinterieur input, .enroll textarea, .mymagicoverbox_fenetreinterieur textarea {
  width: 550px;
  height: 50px;
  border: 1px solid #dee7e5;
  margin: 6px 0;
  padding-left: 20px; }

.enroll textarea, .mymagicoverbox_fenetreinterieur textarea {
  height: 175px;
  resize: none;
  padding-top: 20px; }

.form__button {
  text-transform: uppercase;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  width: 74%;
  height: 50px;
  color: #fff;
  background: #29abe2;
  border-radius: 4px;
  box-shadow: 0 -5px #2597c7 inset; }
  .form__button:hover {
    background: #2499cb;
    box-shadow: 0 0px #1183b3 inset; }

footer {
  background: #012a40;
  height: 110px;
  text-align: center;
  padding-top: 45px;
  font-size: 14px;
  color: #b8b8b8; }

.footer_adaptive {
  background: #012a40;
  text-align: center;
}
.footer_adaptive ul {
  padding: 0;
}
.footer_adaptive li {
  list-style-type: none;
  display: inline-block;
  padding: 0 5px;
}
.footer_adaptive li a {
  color: #2499CB;
}
.footer_adaptive li a:hover {
  color: #fff;
}

.error_404 {
  background: url(../img/bg_404.jpg) center center;
  background-size: cover;
  min-height: 100%; }
  .error_404 img {
    display: block;
    height: 276;
    width: 251;
    margin: 0 auto; }

.error_text {
  color: #fff;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2; }
  .error_text h1 {
    font-size: 50px;
    font-family: "OpenSans-Bold", sans-serif;
    padding-top: 55px;
    text-transform: uppercase; }
  .error_text p {
    font-size: 26px;
    padding-top: 20px; }

.rotator-left {
  background: url(../../img/prev.png) no-repeat; }
