#modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  display: block;
  color: #413d4b;
  font-size: 40px; }

.mymagicoverbox {
  padding: 0 10px 10px 0;
  margin: 0 10px 10px 40px; }

.mymagicoverbox_fenetre {
  width: 960px;
  left: -500px;
  z-index: 9999;
  position: fixed;
  margin-left: 50%;
  top: 20px;
  text-align: center;
  display: none;
  background-color: #ffffff; }
  .mymagicoverbox_fenetre p {
    width: 400px;
    padding-top: 70px;
    margin: 0 auto;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #413d4b; }

.mymagicoverbox_fenetreinterieur {
  height: 500px;
  text-align: center;
  overflow: auto;
  padding: 10px;
  background-color: #ffffff;
  margin-top: 10px; }

#myfond_gris {
  display: none;
  background-color: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

html {
  overflow-x: hidden; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6; }

.wr {
  max-width: 1920px;
  min-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

section {
  width: 100%;
  height: auto;
  display: block;
  padding: 50px 0; }

h2 {
  display: block;
  text-align: center;
  padding-bottom: 60px;
  margin: 0;
  font-size: 34px;
  font-family: "OpenSans-Bold", sans-serif; }

a {
  cursor: pointer; }

h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "OpenSans-Bold", sans-serif; }

.bg_gray {
  background: #f7f7f7; }

.bg_header-color {
  background: #0b0a32; }

.main-head {
  min-height: 100px;
  min-width: 1140px;
  background: #0b0a32;
  position: absolute; }

.logo {
  background: url(../img/logo.png);
  display: block;
  width: 210px;
  height: 81px;
  margin-top: 10px; }

.nav {
  float: right;
  text-align: center; }
  .nav li {
    display: inline-block;
    padding: 0 7px;
    line-height: 97px; }
    .nav li:hover {
      border-bottom: 2px solid #29abe2; }
    .nav li a {
      color: #b8b8b8;
      font-size: 13px;
      text-transform: uppercase; }
      .nav li a:hover {
        color: #29abe2; }

.nav__button, .nav__button_inversion, .entry__form_enroll input[type="submit"], .entry__form_enroll_blue input[type="submit"], .entry__form_enroll .enroll textarea[type="submit"], .enroll .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"], .enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"], .cost_btn {
  float: right;
  margin-top: 25px;
  padding: 15px 10px;
  background: #29abe2;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px; }
  .nav__button:hover, .nav__button_inversion:hover, .entry__form_enroll input[type="submit"]:hover, .entry__form_enroll_blue input[type="submit"]:hover, .entry__form_enroll .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll_blue textarea[type="submit"]:hover, .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"]:hover, .cost_btn:hover {
    background: #2499cb; }
  .nav__button_inversion, .entry__form_enroll input[type="submit"], .entry__form_enroll_blue input[type="submit"], .entry__form_enroll .enroll textarea[type="submit"], .enroll .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"], .enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"] {
    float: none;
    background: #ff7800;
    font-size: 18px;
    padding: 15px 45px;
    font-family: "OpenSans-Bold", sans-serif; }
    .nav__button_inversion:hover, .entry__form_enroll input[type="submit"]:hover, .entry__form_enroll_blue input[type="submit"]:hover, .entry__form_enroll .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .enroll textarea[type="submit"]:hover, .enroll .entry__form_enroll_blue textarea[type="submit"]:hover, .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"]:hover, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"]:hover, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"]:hover {
      background: #e56c00; }

.default {
  width: 100%;
  background: transparent; }

.fixed {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #0b0a32;
  opacity: 0.9; }

.block__main {
  background: url(../img/bg-header.jpg) center center;
  background-size: cover;
  max-height: 800px;
  margin-bottom: 50px; }
  .block__main_text {
    height: auto;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 34px; }

.big_logo {
  width: 232px;
  height: 227px;
  display: block;
  margin: 0 auto;
  margin-top: 90px; }
  .big_logo_about {
    padding: 115px 0;
    text-align: center; }

.block_slider {
  padding-bottom: 40px; }
  .block_slider_text {
    height: auto;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 34px; }
  .block_slider h1 {
    padding-top: 250px;
    line-height: 1.3; }
  .block_slider p {
    padding-top: 25px; }

.entry__form h3 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 27px;
  color: #4a4a4a;
  text-align: center;
  line-height: 1.2; }
.entry__form p {
  font-size: 20px;
  color: #4a4a4a;
  text-align: center;
  padding-top: 25px;
  line-height: 1.4; }

.entry__form_enroll, .entry__form_enroll_blue {
  text-align: center; }
  .entry__form_enroll input, .entry__form_enroll_blue input, .entry__form_enroll .enroll textarea, .enroll .entry__form_enroll textarea, .entry__form_enroll_blue .enroll textarea, .enroll .entry__form_enroll_blue textarea, .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea, .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea {
    color: #4a4a4a;
    background: #eeeeee;
    border: 1px solid #acacac;
    border-radius: 5px;
    padding: 15px 10px;
    margin-right: 20px; }
    .entry__form_enroll input[type="submit"], .entry__form_enroll_blue input[type="submit"], .entry__form_enroll .enroll textarea[type="submit"], .enroll .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"], .enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"] {
      margin: 0;
      border: none; }

.about__course img {
  width: 222px;
  height: 217px;
  padding-top: 5px; }
.about__course p {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #4a4a4a; }
.about__course h2 {
  text-align: left; }

.block__Gagarin {
  min-height: 700px;
  min-width: 1140px; }
  .block__Gagarin h2 {
    color: #29abe2;
    font-family: "OpenSans-Bold", sans-serif; }
  .block__Gagarin_info div {
    display: block;
    text-align: center; }
  .block__Gagarin_info img {
    width: 162px;
    height: 162px; }
  .block__Gagarin_info h4 {
    font-size: 20px;
    color: #29abe2;
    font-family: "OpenSans-Bold", sans-serif;
    padding-top: 40px; }
  .block__Gagarin_info p {
    padding-top: 25px;
    color: #fff;
    font-size: 19px;
    line-height: 1.2; }

.dark_blue {
  background: #0b0a32;
  min-height: 70px;
  border-top: 7px solid #29abe2;
  border-bottom: 7px solid #29abe2;
  display: block;
  text-align: center;
  padding-top: 50px; }
  .dark_blue p {
    font-size: 20px;
    color: #29abe2;
    padding-bottom: 50px; }

.light_blue {
  background: #29abe2;
  min-height: 70px;
  border-top: 7px solid #0b0a32;
  border-bottom: 7px solid #29abe2;
  display: block;
  text-align: center;
  padding-top: 50px; }
  .light_blue p {
    color: #4a4a4a; }

.statistic img {
  width: 111px;
  height: 111px; }
.statistic h3 {
  color: #fff;
  font-size: 34px;
  padding-top: 30px; }
.statistic p {
  font-size: 18px;
  font-family: "OpanSans-Light", sans-serif;
  padding-bottom: 50px; }

.entry__form_enroll_blue input, .entry__form_enroll_blue .enroll textarea, .enroll .entry__form_enroll_blue textarea, .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea, .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea {
  color: #fff;
  background: #010029;
  border: 1px solid #165b8c; }
  .entry__form_enroll_blue input[type="submit"], .entry__form_enroll_blue .enroll textarea[type="submit"], .enroll .entry__form_enroll_blue textarea[type="submit"], .entry__form_enroll_blue .mymagicoverbox_fenetreinterieur textarea[type="submit"], .mymagicoverbox_fenetreinterieur .entry__form_enroll_blue textarea[type="submit"] {
    border: none; }

.teacher_img {
  display: block;
  border-radius: 50%;
  padding: 50px 0;
  text-align: center;
  margin: 0 auto; }
.teacher img {
  width: 320px;
  height: 320px; }
.teacher h2 {
  text-align: left; }
.teacher h3 {
  font-size: 29px;
  font-family: "OpenSans-Bold", sans-serif; }
.teacher p {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #4a4a4a;
  padding-top: 35px; }

.course_program p {
  font-size: 15px;
  color: #4a4a4a;
  line-height: 1.2; }

.reviews {
  background: url(../img/bg_reviews.jpg) center center;
  background-size: cover;
  min-height: 700px; }
  .reviews h2 {
    color: #fff;
    padding-bottom: 0; }
  .reviews h5 {
    color: #29abe2;
    font-size: 70px;
    text-align: center; }

.reviews_info p {
  color: #b8b8b8;
  text-align: center;
  font-size: 20px; }
.reviews_info .profession {
  font-size: 13px;
  padding-bottom: 25px; }
.reviews_info .name {
  padding-top: 40px;
  padding-bottom: 15px;
  color: #29abe2;
  font-family: "OpenSans-Bold", sans-serif; }

.reviews_img {
  display: block;
  width: 150px;
  height: 150px;
  background: #293f60;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 7px; }

.paginator__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 4px solid #293f60; }
  .paginator__img_big {
    border: 3px solid #29abe2;
    margin: 0 auto; }

.reviews_slider-nav {
  width: 300px;
  height: 70px;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 40px; }

.slick-current .paginator__img {
  width: 60px;
  height: 60px;
  margin-top: 0px; }

.paginator__img_big {
  width: 135px;
  height: 135px;
  border-radius: 50%; }

.reviews_text {
  background: #0b0a32; }
  .reviews_text h2 {
    color: #29abe2;
    font-size: 40px;
    padding: 0; }
  .reviews_text p {
    color: #fff;
    text-align: center; }
    .reviews_text p:last-child {
      padding-bottom: 30px; }

.rewievs_btn {
  font-size: 13px;
  padding: 15px 25px; }

.cost {
  text-align: center;
  width: 905px;
  height: 170px;
  margin: 0 auto;
  background: #f7fcff;
  padding: 50px 0; }
  .cost p {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 30px;
    color: #29abe2;
    line-height: 1.1; }
  .cost span {
    font-size: 20px;
    color: #4a4a4a; }
  .cost_btn {
    float: none;
    padding: 15px 25px; }

.contact_sprite, .contact_sprite .contact_img {
  float: left;
  margin-right: 25px; }
  .contact_sprite .contact_block {
    margin-bottom: 30px; }
  .contact_sprite .contact_img {
    width: 38px;
    height: 38px; }
  .contact_sprite p, .contact_sprite .contact_img p {
    margin-top: 5px;
    font-size: 20px;
    font-family: "OpenSans-Bold";
    min-width: 260px; }
  .contact_sprite .phone {
    background: url(../img/contact_sprite.png); }
  .contact_sprite .skype {
    background: url(../img/contact_sprite.png) 38px -67px; }
  .contact_sprite .email {
    background: url(../img/contact_sprite.png) 38px -131px; }

.contact_form p {
  font-size: 16px;
  font-family: "OpenSans-Bold", sans-serif; }

.enroll input, .mymagicoverbox_fenetreinterieur input, .enroll textarea, .mymagicoverbox_fenetreinterieur textarea {
  width: 550px;
  height: 50px;
  border: 1px solid #dee7e5;
  margin: 6px 0;
  padding-left: 20px; }
.enroll textarea, .mymagicoverbox_fenetreinterieur textarea {
  height: 175px;
  resize: none;
  padding-top: 20px; }

.form__button {
  text-transform: uppercase;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #fff;
  background: #29abe2;
  border-radius: 4px;
  box-shadow: 0 -5px #2597c7 inset; }
  .form__button:hover {
    background: #2499cb;
    box-shadow: 0 0px #1183b3 inset; }

footer {
  background: #012a40;
  height: 110px;
  text-align: center;
  padding-top: 45px;
  font-size: 14px;
  color: #b8b8b8; }

.error_404 {
  background: url(../img/bg_404.jpg) center center;
  background-size: cover;
  min-height: 100%; }
  .error_404 img {
    display: block;
    height: 276;
    width: 251;
    margin: 0 auto; }

.error_text {
  color: #fff;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2; }
  .error_text h1 {
    font-size: 50px;
    font-family: "OpenSans-Bold", sans-serif;
    padding-top: 55px;
    text-transform: uppercase; }
  .error_text p {
    font-size: 26px;
    padding-top: 20px; }

.rotator-left {
  background: url(../../img/prev.png) no-repeat; }
